::ng-deep .header-blog .breadcrumb a {
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;

  &:hover {
    color: rgba(255, 255, 255, 0.9);
  }
}

::ng-deep tce-input {
  .msg-error:has(.input:focus-within) .label,
  .msg-error:has(.input:not(:placeholder-shown)) .label {
    background-color: #f8f9fe !important;
    padding: 0px 5px;
    border-radius: 4px;
  }

  .label,
  .label-disabled {
    background-color: #f8f9fe !important;
  }
}

::ng-deep .tce-input-with-value {
  .label,
  .label-disabled {
    top: -12px !important;
  }

  input:is([disabled]) {
    border-bottom: 1px solid #ccc !important;
  }

  input:not([disabled]) {
    background-color: transparent !important;
  }
}

::ng-deep .tce-input-new {
  .label,
  .label-disabled {
    background-color: transparent !important;
  }
}

::ng-deep tce-select {
  .label {
    top: -12px !important;
    background-color: #f8f9fe !important;
  }

  option {
    background-color: transparent;
  }
}

::ng-deep tce-select .tce-select-new-value .label {
  top: -12px !important;
}

::ng-deep tce-date {
  .label,
  .label-disabled {
    background-color: #f8f9fe !important;
    top: -12px !important;
  }

  input {
    background-color: transparent;
  }
}

::ng-deep tce-textarea .tce-text-area-values {
  .label,
  .label-disabled {
    background-color: #f8f9fe !important;
  }
}

::ng-deep tce-paginate {
  .page-item:not(.active),
  .page-item .disable {
    a {
      background-color: #f8f9fe !important;
    }
  }
}

::ng-deep .footer-big-show {
  position: inherit !important;
}

::ng-deep .container-fluid {
  background-color: transparent;
}


::ng-deep .tce-search-page,
::ng-deep .container-fluid {
  padding: 0px !important;
}

::ng-deep .tce-search-page>.container-fluid>tce-label {
  display: none;
}
